h1
{
    text-align: center;
    color:ivory;
    text-decoration: underline;
}
h6
{
    text-align: center;
    color:ivory;
}

h3
{
    text-align: center;
    color:ivory;
    
    
    
    
}
.container
{
    height:125vh;
    width: 100%;
    background-image:url(https://w0.peakpx.com/wallpaper/622/373/HD-wallpaper-black-space-black-star-stars.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    
}
ol{
    color:ivory;
    text-align: center;
   
}
ul
{
    color:ivory;
    text-align: center;
  
}
tr
{
    color:ivory;
    text-align: center;
    
}
td
{
    color:ivory;
    text-align: center;
   
}
li
{
    text-align: center;
}
.center
{
    margin-left: auto;
    margin-right: auto;
}
figcaption
{
    color: ivory;
    font-weight: bolder;
    
}
